body {
  background-color: rgb(17, 16, 16);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  background-color: #5e5e5e;
  width: 600px;
  border-radius: 16px;
  height: auto;
}

.row {
  display: flex;
}
